doctype html
html(lang="en")
  head
    include includes/head_content.jade
    title Home | Wina Putri
  body
    include includes/navbar_content.jade
    //- include includes/slider.jade
    //- h1(class="mt-16 text-center text-2xl font-extrabold tracking-wide ") Leatest Articles
    //- div#mainCards(class="container md:flex flex-wrap justify-between")

    //- h1(class="mt-16 text-center text-2xl font-extrabold tracking-wide ") Categories
    div#categoryCrds(class="container lg:flex block")
    include includes/footer_content.jade
    
    
    //- include includes/scripts.jade
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    script(src="/javascripts/index.js") 

    

