doctype html
html(lang="en")
  head
    include includes/head_content.jade
    link(rel="stylesheet", href="/stylesheets/main.css")
    title Related Page
  body
    include includes/navbar_content.jade
    div(class="customers")
      div(class="top w-11/12 lg:w-7/12 mx-auto my-14")
        div(class="info mx-auto")
          div(class="personpic w-16 mx-auto")
            img( class="rounded-full w-full", src="/images/slider1/person_1.jpg")
          h2(class="text-center text-gray-500 text-lg") Wina Putri
          h3#date(class="text-center text-gray-500") JULY 2, 2020
        h1#title(class="px-6 text-3xl lg:text-4xl text-center font-extrabold tracking-wide leading-normal mt-6") 
        p#desc(class=" px-10 w-11/12 mx-auto my-4 text-center text-xl text-gray-500") 
        div(class="pic w-full mx-auto ")
          img#img(class="w-full rounded-md ")
        div#body(class="my-8")

    div(class="container")
      div(class="mt-48")
        h1(class="text-4xl font-extrabold mb-0") Related
        include includes/business_cards.jade


    include includes/footer_content.jade
    include includes/scripts.jade
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    script(src="/javascripts/singleArticle.js") 




